# Tongsuo local build artifacts
/third_party/tongsuo-build/
/third_party/tongsuo-build-*/
/third_party/tongsuo-install/
/third_party/fake-bin/
/third_party/tongsuo/Pod/
/crypto/sm2keyexch/android/

# Build artifacts
*.o
*.a
*.lib
*.obj

# 本地测试密钥文件，不上传 GitHub
*.pem